src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8434ba9e-6698-4c53-ae0b-d8728d28226d">
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="cf879600-2c2e-47b4-a58f-f0d923fdfacb" files="springbeans.xml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e1d17ce8-2580-4887-a8d7-96f12252258d" >
		<db:generic-connection url="jdbc:derby:memory:flightdb" driverClassName="org.apache.derby.jdbc.EmbeddedDriver" />
	</db:config>
	
	<flow name="GETIndigoRestMockAPI" doc:id="5a73129f-47f5-46fe-bffe-6684fab8a968" >
		<http:listener doc:name="IndigoRest" doc:id="1154ec71-56e2-4d83-bd9c-c337d66a76e1" config-ref="HTTP_Listener_config" path="/indigoflights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="c36e4635-b1df-4579-b45e-6a61aa4270e9" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from flightdb.flights]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="22d9a7e5-7d24-4039-9162-723921ac1c84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.FLIGHTID default "",
	airline: payload01.AIRLINE default "",
	origin: payload01.ORIGIN default "",
	destination: payload01.DESTINATION default "",
	departureTime: payload01.DEPARTURETIME default "",
	arrivalTime: payload01.ARRIVALTIME default "",
	price: payload01.PRICE default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PostBookFlight" doc:id="0ac31cf0-3abe-4363-bd62-c4f66f9ce438" >
		<set-payload value='#[output application/json&#10;---&#10;{&#10;  "pnrNumber": "PNR123",&#10;  "message": "Booking successful"&#10;}]' doc:name="Set Payload" doc:id="b118ddb0-dc7e-4de8-a1af-664edabb6f52" />
	</flow>
	<flow name="cancelBooking" doc:id="877c1bf8-8ceb-4a07-8a62-0238fd5ff612" >
		<set-payload value='#[output application/json&#10;---&#10;{&#10;  "message": "Booking cancelled successfully"&#10;}]' doc:name="Set Payload" doc:id="70bfe8af-6d85-4122-861d-2a4b77efd95b" />
	</flow>
	<flow name="getFlights" doc:id="b2a6afba-6e43-4909-a918-9c40a809f0d5" >
		<db:select doc:name="Select" doc:id="c00dedaf-f65f-4bfc-a2ee-2950a89fcb37" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from flightdb.flights where origin=:origin]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'origin': attributes.queryParams.origin}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d4ce0697-2ece-4c9c-9ebb-57ccf3e29bd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.FLIGHTID default "",
	airline: payload01.AIRLINE default "",
	origin: payload01.ORIGIN default "",
	destination: payload01.DESTINATION default "",
	departureTime: payload01.DEPARTURETIME default "",
	arrivalTime: payload01.ARRIVALTIME default "",
	price: payload01.PRICE default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
